<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${area.name}">Facility Details</title>
    <link rel="icon" href="/images/logoHead.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body style="overflow:auto;">
    <div class="container">
            <div class="sidebar">
                <img class="logo" style="width: 262px; height: 56px;" src="/images/logo.png" alt="Logo" />
                <div class="nav-items">
                    <a href="/dash_user" class="nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.33" height="17.70" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="3" y="3" width="7" height="7"></rect>
                            <rect x="14" y="3" width="7" height="7"></rect>
                            <rect x="14" y="14" width="7" height="7"></rect>
                            <rect x="3" y="14" width="7" height="7"></rect>
                        </svg>
                        <div>Dashboard</div>
                    </a>
                    
                    <a href="#" class="nav-item active">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M3 21h18"></path>
                            <path d="M5 21V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16"></path>
                            <path d="M9 21v-4a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v4"></path>
                            <rect x="9" y="7" width="6" height="4"></rect>
                        </svg>
                        <div>Book a Facility</div>
                    </a>
                    
                    <a href="/mb-user" class="nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg>
                        <div>Manage Bookings</div>
                    </a>
                    
                    <a href="/profile" class="nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.44" height="17.04" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                        <div>Manage Profile</div>
                    </a>
                    
                    <div class="nav-divider"></div>
                    
                    <a href="/" class="logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                            <polyline points="16 17 21 12 16 7"></polyline>
                            <line x1="21" y1="12" x2="9" y2="12"></line>
                        </svg>
                        <div>Log out</div>
                    </a> 
                </div>
                
                <div class="profile">
                    <div class="profile-pic2">
                                
                        <!-- Check if the profile picture exists and display it -->
                        <img th:if="${profilePictureBase64 != null}" 
                            th:src="'data:image/jpeg;base64,' + ${profilePictureBase64}" 
                            alt="Profile Picture" style="width: 100%; height: 100%; border-radius: 50%;" />
                        
                        <!-- Fallback to show the user's initials (e.g., 'JD') if no profile picture is available -->
                        <span th:if="${profilePictureBase64 == null}" th:text="${user.name != null ? user.name.substring(0, 2).toUpperCase() : 'JD'}"style="font-size: medium;">JD</span>
                    </div>
                    <div class="profile-info">
                        <a href="/profile" style="text-decoration: none;"><div class="profile-name" th:if="${user != null}" th:text="${user.name}">John Doe</div></a>
                        <div class="profile-name" th:unless="${user != null}">User not found</div>
                        <div class="profile-role" th:if="${user != null}" th:text="${user.property_status}">Homeowner</div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <header class="header">
                    <p><a th:href="@{/areas-user}" style="text-decoration: none; font-weight:bold;">Book a Facility </a>/ View Recreational Area Details</p>
                </header>

    <form method="get" enctype="multipart/form-data" th:action="@{/submit_book}" th:object="${reservation}" >
        <h1 style="margin-bottom: 2rem;">[[${area.name}]]</h1>
        
        <img th:src="@{'data:image/*;base64,'+ ${area.generateBase64Cover()}}" alt="area" width="500" height="500" class="area-photo">
        <div class="area-guidelines3">
        <h2>Guidelines</h2><br>
        <label type="textarea">[[${area.guidelines}]]</label><br>
    </div>
    <div class="area-guidelines3" style="margin-top: 30px;">
        <p style ="font-size: small; color: dimgrey; margin-top: 2px;"><i>Note: Military Time is used</i></p>
        <h2>Start Time</h2>
        <label type="time">[[${area.startTime}]]</label><br>
        <h2 style="margin-top:20px">End Time</h2>
        <label type="time">[[${area.endTime}]]</label><br><br>
        </div>

    <div class="area-guidelines3" style="margin-top: 30px;">
        <h2>Book Area</h2><br>
        <div class="form-group">
        <label for="areaname">Area Name</label>
        <input type="text" id="areaname" name="areaname" th:value="${area.name}" style="box-sizing: border-box;" required readonly><br>
        </div>
        <div class="form-group">
        <label for="user-name">User Name</label>
        <input type="text" id="username" name="username" th:value="${user.name}"style="box-sizing: border-box;" required readonly><br>
        </div>
        <div class="form-group">
        <label for="user-email">User Email</label>
        <input type="email" id="useremail" name="useremail" th:value="${user.email}"style="box-sizing: border-box; font-family: 'Lexend', sans-serif; font-size: 15px;" required readonly><br>
        </div>
        <div class="form-group">
        <label for="user_start_date">Start Date</label>
        <input type="date" id="userStartDate" name="userStartDate" th:field="*{userStartDate}"style="font-family: 'Lexend', sans-serif;" required><br>
        </div>
        <div class="form-group">
        <label for="user_start_time">Start Time</label>
        <input type="time" id="user_start_time" name="user_start_time" th:field="*{user_start_time}" style="font-family: 'Lexend', sans-serif;" required><br>
        </div>
        <div class="form-group">
        <label for="user_end_time">End Time</label>
        <input type="time" id="user_end_time" name="user_end_time"  th:field="*{user_end_time}" style="font-family: 'Lexend', sans-serif;"required><br>
        </div>
        <button type="submit" class="submit-btn">Book Area</button>
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>
       </div>
    </form>
</div>
</div>
</body>
</html>