<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Set Password</title>
    <link rel="icon" href="images/logoHead.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container-fluid d-flex flex-column">
        <header class="w-100 d-flex align-items-center justify-content-start"
            style="padding-top: 29px; padding-bottom: 70px;">
            <img src="images/logo.png" alt="Accord Logo" class="img-fluid" style="max-width: 200px;">
        </header>

        <div class="row w-100 flex-grow-1">

            <div class="col-lg-6 d-flex flex-column justify-content-start align-items-center p-4">
                <form method="post" action="/forgotPassword_setPass" class="login" th:object="${loginRequest}">
                    <p class="text-black fs-2 fw-semibold m-0 ms-3 py-2">Set new password</p>
                    <p class="text-secondary fs-6 fw-light m-0 ms-3 py-2 mb-3" style="max-width: calc(100% - 3rem);">
                        The new password must differ from your previous password.
                    </p>
                    <div class="d-inline-flex align-items-center">
                        <p class="text-dark fs-6 fw-normal m-0 ms-3 py-2 mt-3">Password</p>
                        <div class="passImg-container ms-2">
                            <img class="passImg" src="images/tooltip.png"
                                style="width: 17px; height: 17px; margin-top: 17px;" />
                            <div
                                class="requirements ps-1 py-1  rounded-1 shadow justify-content-end align-items-center">
                                <p class="text-start text-black col-14 m-0 px-3 py-2">
                                    At least 8 characters long<br />
                                    At least one uppercase letter<br />
                                    At least one lowercase letter<br />
                                    At least one numeric digit<br />
                                    At least one special character
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="input-box ms-2 mb-4 px-2" style="width: 454px;">
                        <input type="hidden" name="token" value="${token}" id="token">
                        <input type="password" name="newPassword" class="form-control w-100"
                            placeholder="Enter new password" required>

                    </div>
                    <p class="text-dark fs-6 fw-normal m-0 ms-3 py-2 mt-3">Confirm Password</p>
                    <div class="input-box ms-2 mb-4 px-2" style="width: 454px;">
                        <input type="password" name="confirmPassword" class="form-control"
                            placeholder="Confirm new password" required>
                    </div>


                    <div class="input-box mb-3 px-3 mt-2">
                        <input type="submit" name="set-pass" value="Reset Password" class="btn-login w-100 h-10">
                    </div>
                    <div class="centered">
                        <p>
                            <a href="/" class="text-danger text-decoration-none hover-shadow">Back to Login</a>
                        </p>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 d-flex justify-content-center align-items-center image-container"
                style="padding: 0; height: 100vh;">
                <img src="images/passwordimg.png" alt="Reset Password" class="login-image img-fluid">
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-TeZ7D2iW4Qgk3ZQ9ZJzZ6w63tXKDXw2i7r0JWqXHCVlV5zglK7Zp81lSyX4ZzT6u"
        crossorigin="anonymous"></script>
   <script> 
        const urlParams = new URLSearchParams(window.location.search); //retrieve data from the url
        const token = urlParams.get('token');
        if (token) {
            document.getElementById("token").value = decodeURIComponent(token);
        }
    </script> 
</body>

</html>